/* Estilos adicionales para body */


body {
    background-color: #67d0db;
    background: center;
    background-size: auto;
    background-image: url('/imagenes/fondo.jpg');
    /* Ruta de la imagen de fondo */
    font-family: Arial, sans-serif;
    /* Fuente para todo el cuerpo del documento */
    background-repeat: 1;
    /* No repetir la imagen */
    margin: 0;
    /* Elimina los márgenes predeterminados del cuerpo */
    padding: 0;
    /* Elimina el padding predeterminado del cuerpo */
    background-position-y: 200px;
}

/* Estilos adicionales para barra de navegacion */


.navbar-brand img {
    height: 200px;
    /* tamaño del logo */
}

header {
    background-color: #ffcde8;
    /* Color de fondo del encabezado */
    padding: 15px;
    /* Espaciado interno del encabezado */

}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    /* Cambia el color del texto */
    font-size: 35px;
    /* Cambia el tamaño de la fuente */
    font-weight: bold;
    /* poner negrita */
}

.navbar {
    background-color: #f88cc5 !important;
    /* cambia el color a la  #ffdaee barra de navegacion */
    border-radius: 50px;
}




.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(243, 111, 188) !important;
    /* Cambia el color del texto al pasar el mouse */
}

.container {
    max-width: 1400px;
    /* Ancho máximo del contenido principal */
    margin: 0 auto;
    /* Centra el contenido horizontalmente */
}

.main-content {
    margin-top: 0px;
    /* Ajusta este valor según lo que necesites */
}




/* Estilos adicionales para el carousel */


.carousel,
.container.row {
    margin-top: 280px;
    /* Desplaza las secciones hacia abajo contenido pagina*/
}

.container img{
    border-radius: 25px;
    overflow: hidden;
    /* Asegura que la imagen sea completamente redonda */
}

.container video{
    border-radius: 10%;
    overflow: hidden;
    /* Asegura que la imagen sea completamente redonda */
}

.carousel-indicators li {
    background-color: rgb(255, 255, 255);
    border-color: azure;
}

.carousel-indicators .active {
    background-color: rgb(255, 255, 255);
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(0, 0, 0);
    background-size: 100%;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}





/* Estilos adicionales para las secciones */

.container h2{
    font-size: 35px;
    /* Cambia el tamaño de la fuente */
    font-weight: bold;
    /* poner negrita */
}

.container p{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

.container button{
    color: white ;
    background-color: #506fed;
}



/* Estilos adicionales para el footer */

footer {
    padding: 20px 0;
    /* Espaciado interno del footer */
}

footer h5 {
    color: #fff;
    /* Color del texto de los títulos en el footer */
}

footer ul {
    list-style: none;
    /* Elimina los estilos de lista predeterminados */
    padding: 0;
    /* Elimina el padding de las listas */
}

footer ul li {
    margin-bottom: 10px;
    /* Espaciado entre elementos de la lista en el footer */
}